@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <table style="width:fit-content; height:fit-content;">
        <tr>
            <td>&nbsp;<input id="Button1" type="button" value="1" /></td>
            <td>&nbsp;<input id="Button2" type="button" value="2" /></td>
            <td>&nbsp;<input id="Button3" type="button" value="3" /></td>
        </tr>
        <tr style="padding-bottom:0;">
            <td>&nbsp;<input id="Button4" type="button" value="4" /></td>
            <td>&nbsp;<input id="Button5" type="button" value="5" /></td>
            <td>&nbsp;<input id="Button6" type="button" value="6" /></td>
        </tr>
        <tr>
            <td>&nbsp;<input id="Button7" type="button" value="7" /></td>
            <td>&nbsp;<input id="Button8" type="button" value="8" /></td>
            <td>&nbsp;<input id="Button9" type="button" value="9" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;<input id="Button0" type="button" value="0" /></td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
